/* index.css */

:root {
    --primary-background-color: #1a1a1a;
    --primary-text-color: whitesmoke;
    --secondary-background-color: #2b2b2b;
    --accent-color-1: #3a3a3a;
    --accent-color-2: #757575;
    --link-color: #3498db;
    --link-hover-color: #2980b9;
    --button-color: #e74c3c;
    --button-hover-color: #c0392b;
    --border-color: #333333;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: auto;
}

/* Navigation Bar Styles */
nav {
    background-color: var(--primary-background-color);
    color: var(--primary-text-color);
    position: fixed;
    width: 100vw;
    z-index: 1000;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

nav ul li {
    display: flex;
    align-items: center;
    margin: 1em 0em;
}

#logo {
    height: 4em;
}

#logoLi {
    margin: 0em;
}

#photosOfMe a,
#projects a {
    text-decoration: none;
    color: var(--primary-text-color);
    padding: 0.5em;
    border: 2px solid transparent;
}

#photosOfMe a:hover,
#projects a:hover {
    border: 2px solid var(--border-color);
    color: var(--link-hover-color);
    text-decoration: underline;
}

/* Introduction Section Styles */
#introBox {
    background-image: url(./photos/intro/fightClubImg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    border: 2px solid var(--border-color);
}

#myName {
    color: var(--primary-text-color);
    text-align: center;
    font-size: 2em;
}

#introInf {
    color: var(--primary-text-color);
    text-align: center;
    font-size: 3em;
    padding-top: 2em;
    padding-bottom: 1em;
}

/* About Me Section Styles */
#aboutMeInf {
    color: var(--primary-text-color);
    background-color: var(--secondary-background-color);
    text-align: center;
    font-size: 3em;
    padding: 1.5em;
    border: 2px solid var(--border-color);
}

/* Light Mode Button Styles */
#lightMode {
    background-color: whitesmoke;
    color: var(--primary-background-color);
}

/* Footer Styles */
footer {
    background-color: var(--primary-background-color);
    color: var(--primary-text-color);
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Media Query for Portrait Orientation */
@media (orientation: portrait) {
    #aboutMeInf {
        font-size: 1.5em;
        padding-bottom: 5em;
    }
}
